*{
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #efefef;

  .page {
    flex: 1;
    overflow: hidden;
    padding: 20px;
  }
}

.box-shadow {
  box-shadow: 0 0 12px rgba(0,0,0,.12)
}
.border-radius {
  border-radius: 4px;
}